<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>WebServiceLp50</display-name>
    <servlet>
        <servlet-name>ListeEvenement</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.ServletListeEvenement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListePosition</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servlet.position.ServletListePosition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEnjoy</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.NewEnjoy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewEvent</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.NewEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeEvenement</servlet-name>
        <url-pattern>/getListeEvenement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListeEvenementByDate</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.ServletListeEvenementByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeEvenementByDate</servlet-name>
        <url-pattern>/getListeEvenementByDate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EvenmentById</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.ServletEvenementByID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvenmentById</servlet-name>
        <url-pattern>/getEvenmentById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCommentaireEvenementById</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.ServletAddCommentaireById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCommentaireEvenementById</servlet-name>
        <url-pattern>/addCommentaireEvenementById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCommentaireEnjoyById</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.ServletAddCommentaireById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCommentaireEnjoyById</servlet-name>
        <url-pattern>/addCommentaireEnjoyById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnjoyById</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.ServletEnjoyByID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnjoyById</servlet-name>
        <url-pattern>/getEnjoyById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListeEnjoy</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.ServletListeEnjoy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeEnjoy</servlet-name>
        <url-pattern>/getListeEnjoy</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListeEnjoyByName</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.ServletListeEnjoyByName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeEnjoyByName</servlet-name>
        <url-pattern>/getListeEnjoyByName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNoteEnjoyById</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEnjoy.ServletAddNoteById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNoteEnjoyById</servlet-name>
        <url-pattern>/addNoteEnjoyById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletEvenement</servlet-name>
        <servlet-class>com.utbm.webservicelp50.core.servletEvenement.ServletEvenement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEvenement</servlet-name>
        <url-pattern>/ServletEvenement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListePosition</servlet-name>
        <url-pattern>/ServletListePosition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEnjoy</servlet-name>
        <url-pattern>/NewEnjoy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewEvent</servlet-name>
        <url-pattern>/NewEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
