<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projetlp50.utbm.com.belfortcity" >
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".calendar.Calendar" />
        <activity android:name=".calendar.Calendar_day"/>
        <activity android:name=".calendar.Calendar_MoreInformation" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".mainPage.AboutActivity"/>
        <activity android:name=".getIp.activiityIp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeteoActivity"/>
        <activity android:name=".mainPage.MainActivity"/>
    </application>
   

</manifest>
